@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

body{
	background-color: #EEE;
}
.contenedor{
	position: relative;
	float: left;
	width: 820px;
	padding: 10px 80px 80px 80px;
	box-sizing: border-box;
	background-color: #2dad95;
}
.contenedor, a{
	cursor: url("../img/layout/cursor.png"), auto;
}

	.centrado{
		width: 100%;
		margin: auto;
	}
		.centrado > img{
		    position: absolute;
		    margin-top: -35px;
		    margin-left: 50px;
		}

		section{
			float: left;
			width: 330px;
			padding-top: 30px;
		}

			section a,
			nav li{
				position: relative;
				display: block;
				text-align: center;
			}
				section a img.over{
					display: none;
					position: absolute;
					top: 108px;
					right: 155px;
				}
					section a:hover img.over{
						display: block;
					}
		nav{
			float: right;
			width: 230px;
		}
				nav li img.over{
					display: none;
					position: absolute;
				}
				nav li.fans img.over{
					top: 20px;
					right: -45px;
				}
				nav li.like img.over{
					top: -180px;
					right: -35px;
				}
				nav li a img:hover {
					-ms-transform: scale(0.9,0.9); /* IE 9 */
				    -webkit-transform: scale(0.9,0.9); /* Safari */
				    transform: scale(0.9,0.9); /* Standard syntax */
				}
		
					nav li.fans:hover img.over,
					nav li.like:hover img.over{
						display: block !important;
					}

article{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
article#integrantes{
	padding: 70px 20px;
	box-sizing: border-box;
	background-color: #FFF;
}
	article#integrantes > h1{
		float: left;
		margin-bottom: 10px;
	}
	article#integrantes a#cerrar-integrantes{
		position: relative;
		margin-top: 15px;
		float: right;
	}
		article#integrantes a#cerrar-integrantes:hover{
			-ms-transform: scale(1.5,1.5); /* IE 9 */
		    -webkit-transform: scale(1.5,1.5); /* Safari */
			transform: scale(1.5,1.5); /* Standard syntax */
		}

	article#integrantes ul{
	    position: relative;
	    margin-left: -18px;
	    width: 820px;  
	}
		article#integrantes ul li{
			float: left;
			margin-left: 7px;
			margin-right: 7px;
		}
			article#integrantes ul li p{
				margin-left: 15px;
				font-family: "Gochi Hand", sans-serif;
				font-size: 18px;
			}