@import url("reset.css");

.contenedor{
	float: left;
	width: 820px;
	padding: 10px 80px 80px 80px;
	box-sizing: border-box;
	background-color: #2dad95;
}
.contenedor, a{
	cursor: url("../img/layout/cursor.png"), auto;
}

	.centrado{
		width: 100%;
		margin: auto;
	}

		section{
			float: left;
			width: 330px;
			padding-top: 30px;
		}

			section a,
			nav li{
				position: relative;
				display: block;
				text-align: center;
			}
				section a img.over{
					display: none;
					position: absolute;
					top: 108px;
					right: 155px;
				}
					section a:hover img.over{
						display: block;
					}
		nav{
			float: right;
			width: 230px;
		}
				nav li img.over{
					display: none;
					position: absolute;
				}
				nav li.fans img.over{
					top: 20px;
					right: -45px;
				}
				nav li.like img.over{
					top: -180px;
					right: -35px;
				}
				
					nav li.fans:hover img.over,
					nav li.like:hover img.over{
						display: block;
					}